.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer-logo-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap; /* Allow items to wrap on small screens */
}

.footer-logo {
    width: 50px; /* Adjust the size as needed */
    height: auto;
    margin-right: 20px;
}

.footer-contact, .footer-hours {
    margin: 10px 0;
}

.footer p, .footer a {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.footer strong {
    font-weight: bold;
}

.footer span {
    font-weight: bold;
    font-size: 18px;
}

.footer p {
    margin: 0;
    line-height: 1.5;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .footer-logo-text {
        flex-direction: column;
        align-items: center;
    }

    .footer-logo {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .footer-contact, .footer-hours {
        text-align: center;
    }
}
