.nav-list {
    display: flex;
}

.nav-item a {
    padding: 0 15px;
    font-size: smaller;
    font-weight: 500;
}

.nav-item a:hover {
    color: #495E57; /* Change color when hovered */
}

.nav-item a.active {
    color: gray; /* Color when active */
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .nav-list {
        display: none;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 50px;
        right: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .nav-list.open {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .nav-item {
        margin: 10px 0;
    }

    .nav-item a {
        padding: 10px 15px;
    }
}
